* {
    font-family: "Vazir";
}
div {
    margin-top: 20em;
}
h1 {
    color: whitesmoke;
    text-align: center;
}
#phrase button {
    text-align: center;
    margin-left: 48%;
    width: 10em;
    height: 3em;
}